<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/jms 
                        http://www.springframework.org/schema/jms/spring-jms.xsd
                        http://activemq.apache.org/schema/core 
                        http://activemq.apache.org/schema/core/activemq-core.xsd">


    <context:component-scan base-package="org.croteau.jmsproducer" />
    <context:annotation-config/>

    
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL">
            <value>tcp://localhost:61616</value>
        </property>
    </bean>
	
	
	<bean id="queueOne" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="test.queue" />
	</bean>
	
		
	<bean name="producer" class="org.croteau.jmsproducer.QueueProducer">
		<property name="connectionFactory" ref="connectionFactory" />
	  	<property name="queue" ref="queueOne" />
	</bean>



	<bean id="topicOne" class="org.apache.activemq.command.ActiveMQTopic">
	  <constructor-arg value="test.topic" />
	</bean>
	
	
	<bean name="topicPublisher" class="org.croteau.jmsproducer.TopicPublisher">
	  <property name="connectionFactory" ref="connectionFactory" />
	  <property name="topic" ref="topicOne" />
	</bean>
	
		
</beans>